<section class="max-w-4xl mx-auto text-primary-t font-libre p-4">
    <div class="mt-4 grid place-items-center">
        <img src="./assets/img/logo-icon.svg" alt="A brief description" />

        <div class="mt-10 flex flex-col gap-y-2">
            <button type="button" routerLink="/create-wallet"
                class="h-12 text-primary-t font-light font-audiowide bg-primary-a py-2 px-8 rounded-full hover:bg-opacity-80">
                CREATE ESCROW ACCOUNT
            </button>
            <button type="button" routerLink="/opt-in"
                class="h-12 text-primary-a font-light font-audiowide bg-primary-b py-2 px-8 rounded-full outline outline-1 outline-primary-a hover:bg-secondary-b">
                OPT IN
            </button>
        </div>
    </div>

</section>