<section class="max-w-4xl mx-auto text-primary-t font-libre p-4">
    <div class="mt-4 grid place-items-center items-center">
        <div class="sm:text-3xl text-lg flex sm:gap-x-4 gap-x-1 align-middle">
            <img src="./assets/img/logo-icon.svg" alt="Nautilus" class="font-primary sm:w-40 w-28 align-middle self-center flex-1"/>
            <span class="text-accent-b text-5xl self-center">&#x2715;</span>
            <img src="./assets/img/FIH_logo.svg" alt="Financial Innovation Hub" class="font-monserrat sm:w-40 w-28 align-middle self-center flex-1"/>            
        </div>
        
        <div class="mt-10 flex flex-col gap-y-2">
            <button type="button" routerLink="/create-wallet"
                class="h-12 text-primary-t font-light font-audiowide bg-primary-a py-2 px-8 rounded-full hover:bg-opacity-80">
                CREATE ESCROW ACCOUNT
            </button>
            <button type="button" routerLink="/opt-in"
                class="h-12 text-secondary-d font-light font-audiowide bg-primary-b py-2 px-8 rounded-full outline outline-1 outline-primary-d hover:bg-secondary-b">
                OPT IN
            </button>
        </div>
    </div>

</section>