<section class="max-w-4xl mx-auto text-primary-t p-4 sm:text-left text-center mb-4">
    <div class="mt-4">
    <div class="text-left mb-6">
        <header>
        <h1 class="xs:text-2xl text-xl font-primary sm:text-left text-center">About</h1>
        </header>
    </div>
    <p class="font-normal">
        Our goal is to bring smart contract functionality to the XRPL CBDC platform through trusted execution enclaves and decentralised oracle nodes which will strike the balance between auditability and data privacy.

    </p>
    <br>
    <div class="text-left mb-6">
        <h1 class="xs:text-2xl text-xl font-primary sm:text-left text-center">The Delivery Versus Payment Problem</h1>
    </div>
    <p class="font-normal">
        The delivery versus payment (DvP) problem is a crucial issue in financial transactions, particularly in securities and asset trading. It refers to the challenge of ensuring that the transfer of an asset or security occurs simultaneously with the corresponding payment. In other words, when a buyer purchases an asset, the seller should receive the payment at the same time the asset is transferred to the buyer.
    </p>
    <br>
    <p class="font-normal">
        The DvP problem is important because it helps reduce counterparty risk and ensures that both parties fulfill their obligations in a trade. If the DvP mechanism is not in place or fails, it can lead to various issues such as:
    </p>
    <br>
            
    <ol class="list-decimal ml-8 text-left">
        <li>
            <span class="font-bold">Settlement Risk</span>: Without DvP, there is a risk that one party may not deliver the asset after receiving payment or vice versa, leading to potential losses for the counterparty.
        </li>
        <li>
            <span class="font-extrabold">Credit Risk</span>: In situations where delivery and payment are not simultaneous, the buyer may have to trust that the seller will fulfill their end of the bargain, which can pose credit risk if the seller defaults.
        </li>
        <li>
            <span class="font-bold">Market Risk</span>: In financial markets, prices can fluctuate rapidly. If the DvP is not enforced, a party may be exposed to market risk between the time of payment and asset delivery.
        </li>
    </ol>
    <br>
    <p>
        To address the DvP problem and ensure secure and reliable trades, mechanisms such as smart contracts have been developed. These smart contracts help to automate and enforce the simultaneous exchange of assets and payments on the blockchain (such as Algorand), reducing the risk for both buyers and sellers involved in the transaction.
    </p>
    </div>
</section>