<body class="bg-dark-blue min-h-screen">
    <section class="max-w-4xl mx-auto bg-dark-blue text-white p-4">
      <div class="mt-6">
        <div class="text-left mb-6">
          <header>
            <h1 class="text-3xl font-primary">About Trusted Contracts</h1>
          </header>
        </div>
        <p class="font-normal">This is a joint project between the Financial Innovation Hub and Nautilus. Our goal is to bring smart contracts to the XRPL CBDC platform through trusted execution enclaves and decentralised oracle nodes which will strike the balance between auditability and data privacy.</p>
        <p class="font-normal">This website demonstrates the creation of an escrow account through the use of a trusted contract which has been deployed in the trusted enclave. This interface facilitates the creation of that escrow account and the process of opting into the currency or asset (currently hardcoded to FOO token for simplicity) that one wishes the trusted contract to escrow.</p>
      </div>
    </section>
  </body>