/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat+Alternates:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap");
@import 'node_modules/ngx-toastr/toastr.css';

@font-face {
    font-family: nasalization;
    src: url("assets/fonts/nasalization.otf") format("opentype");
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Fira Code;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #003450 inset;
    box-shadow: 0 0 0 50px #003450 inset;
    -webkit-text-fill-color: #ffffff !important;
}
